<!-- <p>travel-utility-form works!</p> -->

<mat-dialog-content>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{utilityType}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" mat-dialog-close>
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!-- <form [formGroup]="utilityForm" (ngSubmit)="submitUtilityData()"> -->
    <form [formGroup]="utilityForm">

        <div class="modal-body">
            
             <div class="form-row">
              <div class="form-group col-md-6">
                <label for="recipient-name" class="col-form-label">Name:</label>
                <input type="text" class="form-control" id="recipient-name" formControlName="name" placeholder="Name">
                <span class="text-danger "
                    *ngIf="(utilityForm.get('name').touched && utilityForm.get('name').hasError('required')) || (utilityForm.get('name').untouched && submitUtilityForm == true) ">
                    Name is required</span>
            </div>
            <div class="form-group col-md-6">
                <label for="recipient-email" class="col-form-label">Email:</label>
                <input type="text" class="form-control" id="recipient-name" formControlName="email" placeholder="Email">
                <span class="text-danger "
                    *ngIf="(utilityForm.get('email').touched && utilityForm.get('email').hasError('required')) || (utilityForm.get('email').untouched && submitUtilityForm == true) ">
                    Email is required</span>

            </div>
             </div>

             <div class="form-row" *ngIf="(utilityId == 1 || utilityId == 8)">
              <div class="form-group col-md-6">
                <label for="recipient-number" class="col-form-label">Mobile:</label>
                <!-- <input type="text" class="form-control" id="recipient-number" formControlName="mobile"> -->
                <ngx-intl-tel-input [cssClass]="'form-control'"
                [preferredCountries]="preferredCountries"
                [enableAutoCountrySelect]="true"
                [enablePlaceholder]="true"
                [searchCountryFlag]="true"
                [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                [selectFirstCountry]="false"
                [selectedCountryISO]="CountryISO.India"
                [maxLength]="15"
                [tooltipField]="TooltipLabel.Name"
                [phoneValidation]="true"
                [separateDialCode]="separateDialCode"
                name="mobile"
                formControlName="mobile">
            </ngx-intl-tel-input>



                <span class="text-danger "
                    *ngIf="(utilityForm.get('mobile').touched && utilityForm.get('mobile').hasError('required')) || (utilityForm.get('mobile').untouched && submitUtilityForm == true) ">
                    Mobile is required</span>
                <span class="text-danger "
                    *ngIf="utilityForm.get('mobile').touched && utilityForm.get('mobile').value != null && utilityForm.get('mobile').valid == false && submitUtilityForm == true ">
                    Please Enter Valid Mobile No </span>

            </div>
            <div class="form-group col-md-6 travel-datebox" *ngIf="utilityId == 1 || utilityId == 8">
              <label for="recipient-number" class="col-form-label">Date Of Travel:</label>
              <!-- <input type="date" class="form-control" id="recipient-number" formControlName="dateOfTravel"> -->
             
              <input matInput id="recipient-number" class="form-control travel-date" placeholder="Date Of Travel" [min]="minDate" [max]="maxDate"
              [matDatepicker]="travelDatePicker" formControlName="dateOfTravel" />
            <mat-datepicker-toggle class="travel-datepicker" matSuffix [for]="travelDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #travelDatePicker></mat-datepicker>
            
            <span class="text-danger "
                  *ngIf="(travelDateRequiredError == true && submitUtilityForm == true) ">
                  Date Of Travel is required</span>
          </div>
             </div>
         
             <div class="form-row">
              <div class="form-group col-md-6 start-country">
                <label for="recipient-number" class="col-form-label">Start Country:</label>
                <!-- <input type="text" class="form-control" id="recipient-number" formControlName="startCountry"> -->
                  <!-- <label>Select Nationality<span class="compulsary-star">*</span></label> -->
                  <input type="text" class="form-control" placeholder="Start Country" [matAutocomplete]="startcountry"
                    formControlName="startCountry"/>
                  <a class="startcountry-close" *ngIf="!utilityForm.get('startCountry').hasError('required')"
                    (click)="resetStartCountry()">ⓧ</a>
                  <mat-autocomplete #startcountry="matAutocomplete" [displayWith]="displayNationalityProperty">
                    <mat-option *ngFor="let startCountry of startCountries | async" [value]="startCountry">
                      {{startCountry.split('-')[0]}}
                    </mat-option>
                  </mat-autocomplete>
                <span class="text-danger "
                    *ngIf="(utilityForm.get('startCountry').touched && utilityForm.get('startCountry').hasError('required')) || (utilityForm.get('startCountry').untouched && submitUtilityForm == true) ">
                    Start Country is required</span>

            </div>
              <div class="form-group col-md-6 destination-country">
                <label for="recipient-number" class="col-form-label">Destination Country:</label>
                <!-- <input type="text" class="form-control" id="recipient-number" formControlName="destinationCountry"> -->
                <input type="text" class="form-control" placeholder="Destination Country" [matAutocomplete]="destinationcountry"
                formControlName="destinationCountry" />
              <a class="destinationcountry-close" *ngIf="!utilityForm.get('destinationCountry').hasError('required')"
                (click)="resetDestinationCountry()">ⓧ</a>
              <mat-autocomplete #destinationcountry="matAutocomplete" [displayWith]="displayNationalityProperty">
                <mat-option *ngFor="let destinationCountry of destinationCountries | async" [value]="destinationCountry">
                  {{destinationCountry.split('-')[0]}}
                </mat-option>
              </mat-autocomplete>
                <span class="text-danger "
                    *ngIf="(utilityForm.get('destinationCountry').touched && utilityForm.get('destinationCountry').hasError('required')) || (utilityForm.get('destinationCountry').untouched && submitUtilityForm == true) ">
                    Destination Country is required</span>

            </div>
           
         
             </div>

             <div class="form-row" *ngIf="!(utilityId == 1 || utilityId == 8)">
              <div class="form-group col-md-6">
                <label for="recipient-number" class="col-form-label">Mobile:</label>
                <!-- <input type="text" class="form-control" id="recipient-number" formControlName="mobile"> -->
                <ngx-intl-tel-input [cssClass]="'form-control'"
                [preferredCountries]="preferredCountries"
                [enableAutoCountrySelect]="true"
                [enablePlaceholder]="true"
                [searchCountryFlag]="true"
                [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                [selectFirstCountry]="false"
                [selectedCountryISO]="CountryISO.India"
                [maxLength]="15"
                [tooltipField]="TooltipLabel.Name"
                [phoneValidation]="true"
                [separateDialCode]="separateDialCode"
                name="mobile"
                formControlName="mobile">
            </ngx-intl-tel-input>



                <span class="text-danger "
                    *ngIf="(utilityForm.get('mobile').touched && utilityForm.get('mobile').hasError('required')) || (utilityForm.get('mobile').untouched && submitUtilityForm == true) ">
                    Mobile is required</span>
                <span class="text-danger "
                    *ngIf="utilityForm.get('mobile').touched && utilityForm.get('mobile').value != null && utilityForm.get('mobile').valid == false && submitUtilityForm == true ">
                    Please Enter Valid Mobile No </span>

            </div>
             </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" mat-dialog-close>Close</button>
            <button type="button" class="btn btn-primary" (click)="submitUtilityData()">Save changes</button>
        </div>
    </form>
</mat-dialog-content>


<!-- <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Forex</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Name:</label>
              <input type="text" class="form-control" id="recipient-name">
            </div>
            <div class="form-group">
              <label for="recipient-email" class="col-form-label">Email:</label>
              <input type="text" class="form-control" id="recipient-name">
            </div>
            <div class="form-group">
              <label for="recipient-number" class="col-form-label">Mobile:</label>
              <input type="text" class="form-control" id="recipient-number">
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">Message:</label>
              <textarea class="form-control" id="message-text"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div> -->